# Backup files:
*.bak
*.elc
*~
.\#*
/**/*.bak
/**/*.elc
/**/*~
\#*\#

# macOS mess:
.DS_Store

# Custom files:
custom.el
user.el
projects
ielm-history.*

# Cache and random state:
.cache
/auto-save-list
/cache
/eln-cache
/elpa
/eshell
/request
/undo-fu-session
/url
/var
async-bytecomp.log
network-security.data

# Extensions that use git:
/lisp/extensions/sly*

# Tree Sitter:
tree-sitter/
