# Backup files:
*.bak
*.elc
*~
.\#*
/**/*.bak
/**/*.elc
/**/*~
\#*\#

# macOS mess:
.DS_Store

# Custom files:
custom.el
user.el

# Cache and random state:
.cache
/auto-save-list
/cache
/eln-cache
/elpa
/eshell
/request
/undo-fu-session
/url
/var
async-bytecomp.log
network-security.data

# Tree Sitter:
tree-sitter/
