*~
\#*#
/**/*~
*.elc
/**/*.elc
*.bak
/**/*.bak
/auto-save-list
/cache
.cache
/elpa
/eshell
/games
/private
/lisp
srecode-map.el
ido.last
scratch.el
.DS_Store
custom.el
server
session.*
ac-comphist.dat
.org-*
